DJANGO_SECRET_KEY=

SQL_ENGINE=
SQL_DATABASE=
SQL_USER=
SQL_PASSWORD=
SQL_HOST=
SQL_PORT=

ALLOWED_HOSTS=

CORS_ORIGIN_WHITELIST=
CSRF_TRUSTED_ORIGINS=



DEFAULT_ADMIN_USERNAME=
DEFAULT_ADMIN_PASSWORD=

REDIS_HOST=
REDIS_PORT=

CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

ENCRYPTION_KEY=